In [1]:
import pandas as pd
import glob

In [2]:
dataframes = []

In [3]:
# Get a list of all CSV files in the current directory
csv_files = glob.glob('open-data_aww-*.csv')

# Loop through the files and read them into dataframes
for file in csv_files:
    df = pd.read_csv(file)
    dataframes.append(df)

# Combine the dataframes into one
combined_data = pd.concat(dataframes, ignore_index=True)

In [4]:
# Display the first few rows of the dataset
combined_data.head()

   Month Observed   Year Observed             Species   Latitude   Longitude
0         January            2016  Deer, White-Tailed  57.147963 -111.587578
1         January            2016  Deer, White-Tailed  56.800923 -111.435825
2         January            2016  Deer, White-Tailed  55.172016 -112.480026
3         January            2016  Deer, White-Tailed  56.392280 -111.443014
4         January            2016     Duck/Goose/Swan  56.711200 -111.385400

In [5]:
# Checking the column names in the DataFrame 
print(combined_data.columns)

Index([' Month Observed', ' Year Observed', ' Species', ' Latitude',
       ' Longitude'],
      dtype='object')

In [6]:
# Remove leading and trailing white spaces from all column names
combined_data.columns = combined_data.columns.str.strip()